<swiper-container class="mySwiper" pagination="true" pagination-clickable="true" navigation="true" space-between="30"
    centered-slides="true" autoplay-delay="3500" autoplay-disable-on-interaction="false">
    
    <swiper-slide>
      <!-- all div -->
      <div id="all_side_content">
        <!-- txt div -->
        <div id="content_1">
           <div class="subtitle" data-swiper-parallax="-200">Arduino Programming & Circuitry </div>
          <div class="text" data-swiper-parallax="-100">
            <p>
            Introduction to Internet of Things (IoT)
            Insight on the 4th Industrial Revolution
            Introduction to electronic circuitry & robotics
            Overview of different Arduino boards & programming
            Practical project development using Arduino

            </p>
          </div>
          <!-- read more -->
          <div id="read_more"> <a href="#" id="read_more_txt">READ MORE</a> </div>
        </div>
        <!-- end of txt div -->
        <!-- image div -->
        <div id="content_2">
          <img src="images/pictures/back3.jpg" alt="" id="cont_img">
        </div>
        <!-- end of image div -->
      </div>
      <!-- end of all div -->
    
    </swiper-slide>
    <swiper-slide>
      <!-- all div -->
      <div id="all_side_content">
        <!-- txt div -->
        <div id="content_1">
        <div class="subtitle" data-swiper-parallax="-200">Electrical Wiring for CEWP Exams </div>
          <div class="text" data-swiper-parallax="-100">
            <p>
            Introduction to electrical symbols and diagrams
Appliances installation, maintenance and repairs
Get practical skill in electrical wiring (domestic, Commercial)
Become practically prepared to take the Energy Commission (CEWP) exams anytime

            </p>
          </div>
           <!-- read more -->
           <div id="read_more"> <a href="#" id="read_more_txt">READ MORE</a> </div>
        </div>
        <!-- end of txt div -->
        <!-- image div -->
        <div id="content_2">
          <img src="images/pictures/back2.jpg" alt="" id="cont_img">
        </div>
        <!-- end of image div -->
      </div>
      <!-- end of all div -->
    
    </swiper-slide>
    <swiper-slide>
      <!-- all div -->
      <div id="all_side_content">
        <!-- txt div -->
        <div id="content_1">
           <div class="subtitle" data-swiper-parallax="-200">Solar Systems Installation </div>
          <div class="text" data-swiper-parallax="-100">
            <p>
            Become a practical Solar Professional
Get NVTI Proficiency 1 Certificate
Conduct energy efficiency audits
How to carry out load & battery calculations, panel, inverter and charge controller type
selection
Practically install solar systems for homes & businesses

            </p>
          </div>
           <!-- read more -->
           <div id="read_more"> <a href="#" id="read_more_txt">READ MORE</a> </div>
        </div>
        <!-- end of txt div -->
        <!-- image div -->
        <div id="content_2">
          <img src="images/pictures/miss.jpg" alt="" id="cont_img">
        </div>
        <!-- end of image div -->
      </div>
      <!-- end of all div -->
    
    </swiper-slide>
    <swiper-slide>
      <!-- all div -->
      <div id="all_side_content">
        <!-- txt div -->
        <div id="content_1">
           <div class="subtitle" data-swiper-parallax="-200">Master CCTV Installation & Maintenance </div>
          <div class="text" data-swiper-parallax="-100">
            <p>
            Install and maintain video over a UTP cable.
Run and terminate various cables (RG59, URM70, RG11, CT125, twisted pair).
Connect and set up video distribution amplifiers
and coaxial cables.
Configure motorized zoom, varifocal, aspherical,
and fixed lenses

            </p>
          </div>
           <!-- read more -->
           <div id="read_more"> <a href="#" id="read_more_txt">READ MORE</a> </div>
        </div>
        <!-- end of txt div -->
        <!-- image div -->
        <div id="content_2">
          <img src="images/pictures/cctv.jpg" alt="" id="cont_img">
        </div>
        <!-- end of image div -->
      </div>
      <!-- end of all div -->
    
    </swiper-slide>
    <swiper-slide>
      <!-- all div -->
      <div id="all_side_content">
        <!-- txt div -->
        <div id="content_1">
           <div class="subtitle" data-swiper-parallax="-200">    Satellite Dish Installation (DSTV, Multi TV)</div>
          <div class="text" data-swiper-parallax="-100">
            <p>
            Dish Assembling
Dish and Cable Installation
Signal Tracking & Channels Scanning
Fault Detection and many more


            </p>
          </div>
           <!-- read more -->
           <div id="read_more"> <a href="#" id="read_more_txt">READ MORE</a> </div>
        </div>
        <!-- end of txt div -->
        <!-- image div -->
        <div id="content_2">
          <img src="images/pictures/pan.jpg" alt="" id="cont_img">
        </div>
        <!-- end of image div -->
      </div>
      <!-- end of all div -->
    
    </swiper-slide>
    <swiper-slide>
      <!-- all div -->
      <div id="all_side_content">
        <!-- txt div -->
        <div id="content_1">
           <div class="subtitle" data-swiper-parallax="-200">PLC Programming Crash Course</div>
          <div class="text" data-swiper-parallax="-100">
            <p>
            Introduction to industry standard PLCs and software
PLC communication settings and configuration
PLC instructions programming-Digital/Analog
Wiring & installation (Digital/Analog) and troubleshooting Real-time process plant
project works and practice

            </p>
          </div>
           <!-- read more -->
           <div id="read_more"> <a href="#" id="read_more_txt">READ MORE</a> </div>
        </div>
        <!-- end of txt div -->
        <!-- image div -->
        <div id="content_2">
          <img src="images/pictures/plc.jpg" alt="" id="cont_img">
        </div>
        <!-- end of image div -->
      </div>
      <!-- end of all div -->
    
    </swiper-slide>
    <swiper-slide>
      <!-- all div -->
      <div id="all_side_content">
        <!-- txt div -->
        <div id="content_1">
           <div class="subtitle" data-swiper-parallax="-200">(HMI) Human Machine Interface Training</div>
          <div class="text" data-swiper-parallax="-100">
            <p>
            Introduction and Applications of HMI
HMI Architecture, Design and Development
Communication Configurations between HMI and PLC
Downloading and Uploading Programs
Real-time experience in industrial Project works and more


            </p>
          </div>
           <!-- read more -->
           <div id="read_more"> <a href="#" id="read_more_txt">READ MORE</a> </div>
        </div>
        <!-- end of txt div -->
        <!-- image div -->
        <div id="content_2">
          <img src="images/pictures/hmi.jpg" alt="" id="cont_img">
        </div>
        <!-- end of image div -->
      </div>
      <!-- end of all div -->
    
    </swiper-slide>
    <swiper-slide>
       <!-- all div -->
       <div id="all_side_content">
        <!-- txt div -->
        <div id="content_1">
           <div class="subtitle" data-swiper-parallax="-200">(VFD) Variable Frequency Drives training</div>
          <div class="text" data-swiper-parallax="-100">
            <p>
            Programming and Installation of VFDs
Discrete Continuous Speed Control Using VFDs
Safety and Management Concepts of Designing a Project
Concept of Two Wire/Three Wire Controls
Selection of VFDs, VFD Control Using PLC And
Temperature Controller

            </p>
          </div>
           <!-- read more -->
           <div id="read_more"> <a href="#" id="read_more_txt">READ MORE</a> </div>
        </div>
        <!-- end of txt div -->
        <!-- image div -->
        <div id="content_2">
          <img src="images/pictures/vfd.jpg" alt="" id="cont_img">
        </div>
        <!-- end of image div -->
      </div>
      <!-- end of all div -->
    
    </swiper-slide>
    <!-- <swiper-slide>Slide 9</swiper-slide> -->
  </swiper-container>

  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
